section.btech-carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

section.btech-carousel .slides {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

section.btech-carousel .slides::-webkit-scrollbar {
  display: none;
}

section.btech-carousel .slides-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-size: 100px;
  max-height: 600px;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform .5s;
  width: 100%;
}

section.btech-carousel .carousel__nav {
  padding: 1.25rem .5rem;
}

section.btech-carousel .slider-nav {
  align-items: center;
  background-color: #ddd;
  border-radius: 50%;
  color: #000;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: .5rem;
  position: relative;
  text-decoration: none;
  width: 1.5rem;
}

section.btech-carousel .slider-nav:hover,
section.btech-carousel .slider-nav:active {
  background-color: #000;
  color: #fff;
}