:root {
  --cleoducktra-body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --cleoducktra-msger-bg: #fff;
  --cleoducktra-border: 2px solid #ddd;
  --cleoducktra-left-msg-bg: #ececec;
  --cleoducktra-right-msg-bg: #579ffb;
}


.cleoducktra-input .menu {
  background: rgb(0, 196, 65);
}

.cleoducktra-input .menu-item {
  display: inline-block; 
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
}

.cleoducktra-input .menu-item:hover {
  display: inline-block; 
  color: #fff;
  background: rgb(0, 170, 50);
  padding: 0.5rem;
}

.cleoducktra-input .menu-item.selected {
  color: #000;
  background-color: #FFF;
}

.cleoducktra-wrapper {
  justify-content: space-between;
  width: 100%;
  border: var(--cleoducktra-border);
  border-radius: 5px;
  background: var(--cleoducktra-msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}
.cleoducktra-content {
  display: flex;
  flex-flow: column wrap;
  height: calc(100vh - 100px);
}

.cleoducktra-input .msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--cleoducktra-border);
  background: #eee;
  color: #666;
}

.cleoducktra-input .msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.cleoducktra-input .msger-chat::-webkit-scrollbar {
  width: 6px;
}
.cleoducktra-input .msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.cleoducktra-input .msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.cleoducktra-input .msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.cleoducktra-input .msg:last-of-type {
  margin: 0;
}
.cleoducktra-input .msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.cleoducktra-input .msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--cleoducktra-left-msg-bg);
}
.cleoducktra-input .msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.cleoducktra-input .msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.cleoducktra-input .msg-info-time {
  font-size: 0.85em;
}

.cleoducktra-input .left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.cleoducktra-input .right-msg {
  flex-direction: row-reverse;
}
.cleoducktra-input .right-msg .msg-bubble {
  background: var(--cleoducktra-right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.cleoducktra-input .right-msg .msg-img {
  margin: 0 0 0 10px;
}

.cleoducktra-input .msger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--cleoducktra-border);
  background: #eee;
}
.cleoducktra-input .msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.cleoducktra-input .msger-input {
  flex: 1;
  background: #ddd;
}
.cleoducktra-input .msger-btn {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.cleoducktra-input .msger-btn:hover {
  background: rgb(0, 170, 50);
}

.cleoducktra-input .msger-btn.blue {
  background: rgb(0, 65, 196);
}
.cleoducktra-input .msger-btn.blue:hover {
  background: rgb(0, 50, 170);
}

.cleoducktra-input .msger-btn.red{
  background: rgb(196, 65, 0);
}
.cleoducktra-input .msger-btn.red:hover {
  background: rgb(170, 50, 0);
}


.cleoducktra-input .msger-chat {
  background-color: #fcfcfe;
}

.cleoducktra-input .question-wrapper {
  border: 1px solid #AAA;
  padding: 0.25rem;
}