#btech-flags-container {
  z-index: 1000000;
  background-color: #EEE;
  border-left: 2px solid #AAA;
  color: #000;
  height: 100%;
  top: 0;
  position: fixed;
  display: block; 
  top: 0; 
  right: 0; 
  width: 300px;
}
#btech-flags-vue {
  z-index: 1000000;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#btech-flags-vue .betch-modal {
  z-index: 1000001;
}