#btech-flags-container {
  z-index: 1000000;
  background-color: #EEE;
  border-left: 2px solid #AAA;
  color: #000;
  height: 100%;
  top: 0;
  position: fixed;
  display: block; 
  top: 0; 
  right: 0; 
  width: 300px;
}
#btech-flags-vue {
  z-index: 1000000;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
#btech-flags-vue .betch-modal {
  z-index: 1000001;
}

#btech-flags-container .btech-flags-item {
  margin: 20px 10px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  position: relative;
}
#btech-flags-container .btech-flags-number-circle {
    width: 1.5em;
    line-height: 1.5em;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
    border: 2px solid #812;
    background-color: #d23;
    color: #fff;
    font-weight: bold;
}