@font-face {
  font-family: 'btech-icons';
  src:
    url('https://bridgetools.dev/canvas/style/fonts/btech-icons.ttf') format('truetype'),
    url('https://bridgetools.dev/canvas/style/fonts/btech-icons.woff') format('woff'),
    url('https://bridgetools.dev/canvas/style/fonts/btech-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bcon-"], [class*=" bcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'btech-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bcon-faucet1:after {
  content: "\e901";
  color: rgb(240, 0, 0);
}
.bcon-faucet1:after(2) {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.bcon-faucet:before {
  content: "\e900";
}
.bcon-fire:before {
  content: "\e9a9";
}