body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-size: 1rem;
}

#canvas-courses-report-vue {
  background-color: #e0e0e0;
  padding: 0.5rem;
}

.btech-data-container {
  background-color: #ffffff;
  margin: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

.btech-data-title {
  text-decoration: none;
}

.btech-pill-text {
  padding: 4px;
  border-radius: 10px;
  font-size: .75rem;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-report, #printable-report * {
    visibility: visible;
  }
  #printable-report {
    position: absolute;
    left: 0;
    top: 0;
  }
  #printable-report .print-hide {
    visibility: hidden !important;
  }
}