body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-size: 1rem;
}

#canvas-department-report-vue {
  background-color: #e0e0e0;
  padding: 0.5rem;
}

#canvas-department-report-vue .btech-tree-header {
  background-color: #ffffff;
  margin: 0.25rem;
  padding: 0.25rem;
}

#canvas-department-report-vue .btech-user-container {
  background-color: #ffffff;
  margin: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.25rem;
}

#canvas-department-report-vue a {
  cursor: pointer;
}

#canvas-department-report-vue a.disabled {
  pointer-events: none;
  cursor: default;
}

#canvas-department-report-vue .btech-user-name {
  text-decoration: none;
}

#canvas-department-report-vue .btech-user-name a {
  text-decoration: none;
  color: #000000;
}

#canvas-department-report-vue .btech-course-progress-bar {
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
  background-color: #334;
  font-weight: bold;
  font-size: 1rem;
}

#canvas-department-report-vue .btech-course-progress-bar a {
  text-decoration: none;
}

#canvas-department-report-vue .btech-course-progress-bar .btech-course-progress-bar-fill {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
}

#canvas-department-report-vue .btech-pill-text {
  padding: 4px;
  border-radius: 10px;
  font-size: .75rem;
}

#canvas-department-report-vue .btech-course-progress-bar .btech-course-progress-bar-text {
  position: relative;
  white-space: nowrap;
  padding: 2px 8px;
  font-size: 0.75em;
  color: #fff;
}

#canvas-department-report-vue .btech-department-report-student-hours {
  display: flex;
  align-items: center;
}
#canvas-department-report-vue .btech-department-report-student-hours .data-item {
  margin-bottom: 1rem;
}
#canvas-department-report-vue .btech-department-report-student-hours .data-item .data-item-title {
  display: inline-block;
  width: 12rem;
}