body {
  font-family: Arial, sans-serif;
}

#canvas-department-report-vue .btech-course-progress-bar {
  position: relative;
  display: inline-block;
  border: 1px solid #fff;
  background-color: #334;
  font-weight: bold;
  cursor: pointer;
}

#canvas-department-report-vue .btech-course-progress-bar a {
  text-decoration: none;
}

#canvas-department-report-vue .btech-course-progress-bar .btech-course-progress-bar-fill {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
}

#canvas-department-report-vue .btech-course-progress-bar .btech-course-progress-bar-text{
  position: relative; 
  white-space: nowrap; 
  padding: 2px 8px; 
  font-size: 0.75em; 
  color: #fff;
}